<div style="background-color: blue;color: white;text-align: center;font-size: 2em;padding: 20px;"> noble university</div>
<div>home about contectus</div>
<div><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnOHU7Fq5xLE7hDhQOm4kxx52_-XChnoQgvg&s" width="100%"></div> 
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsa ullam temporibus et voluptatem, esse est facilis velit debitis earum illum, iure assumenda possimus necessitatibus rerum doloribus illo, distinctio iste.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore provident quos praesentium, quibusdam deserunt non ab quo eum rem animi labore ea fuga quam nihil dolor expedita veniam optio excepturi.</div>
<div>desiand and devloped by vyas gautam</div>
